/* Style général */
body {
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
  margin: 0;
  background-image: url(lewa.jpg);
  background-size: cover;
  margin-left: 20px;
  margin-right: 20px;
  color: #ffffff;
}



/* Grille des produits */
.catalogue {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;

}
.whatsapp-float {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
  background-color: #25D366;
  border-radius: 50%;
  padding: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.whatsapp-float:hover {
  transform: scale(1.1);
}

.whatsapp-float img {
  width: 40px;
  height: 40px;
}



/* Carte produit */
.carte-produit {
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  background: #e9c2c2;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
  color: #000;
  max-width: 350px;
}


.carte-produit img {
  width: 100%;
  display: block;
  transition: transform 0.3s ease;
  object-fit: cover;
}


.carte-produit:hover img {
  transform: scale(1.05);
}

/* Infos qui apparaissent au survol */
.infos-produit {
  position: absolute;
  bottom: 0;
  background:#dbcaca;
  color: #000000;
  width: 100%;
  padding: 10px;
  text-align: center;
  
  
}



.infos-produit h3 {
  margin: 5px 5px;
}

.infos-produit .prix {
  margin: 5px 0;
  font-weight: bold;
}

/* Formulaire de livraison */
.formulaire-livraison {
  background: #a89898;
  color: #000;
  padding: 20px;
  margin: 20px auto;
  max-width: 600px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  }

.formulaire-livraison form {
  display: flex;
  flex-direction: column;
}

.formulaire-livraison label {
  margin-top: 10px;
}

.formulaire-livraison input {
  padding: 5px;
  margin-top: 5px;
}

.formulaire-livraison button {
  display: block;
  margin-top: 15px;
  background: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 15px;
  padding: 15px;
  font-size: 16px;
}

.formulaire-livraison button:hover {
  background: #0056b3;
}
header {
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
  color: #fff;
}



nav ul {
  display: flex;
  justify-content: right;
  gap: 30px;
  padding: 20px;
  list-style: none;
  margin: 0;
}

nav a {
  text-decoration: none;
  font-weight: bold;
  color: #fff;
}
nav a::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0%;
  height: 100%;
  z-index: -1;
  transition: width 0.4s ease;
}

nav a:hover::before {
  width: 100%;
}

nav a:hover {
  color: rgb(112, 18, 236);
}
h2 {
  margin-bottom: 20px;
  color: #ffffff;
  text-align: center;
}
.Details{
  background: #0212f1;;
  border: none;
  color: #fff;
  padding: 1em 2em;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s ease;
}
.Details a{
  color: #fff;
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
  
}

.Details:hover {
  background: #0212f1;
}
h4 {
  margin-bottom: 20px;
  text-align: center;
}
#zone-panier {
  background-color: #918484;
  color: #000;
  max-width: 700px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
}
.btn-panier{
  background: #0212f1;;
  border: none;
  color: #fff;
  padding: 1em 2em;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s ease;
}
#zone-panier button {
  margin-top: 10px;
  background: #007bff;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
}

#zone-panier button:hover {
  background: #f9f9fc;
}

#liste-panier li {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #000000;
  font-size: 26px;
}

.supprimer-item {
  color: red;
  font-weight: bold;
  cursor: pointer;
  margin-left: 10px;
}
#notification-panier {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #004cd8;
  color: rgb(0, 0, 0);
  padding: 20px 30px;
  font-size: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(218, 5, 5, 0.3);
  z-index: 9999;
  text-align: center;
}
.barre-recherche {
  text-align: center;
  margin-bottom: 20px;
}

#champ-recherche {
  width: 50%;
  padding: 10px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #ccc;
}
footer {
  color: #fff;
  text-align: center;
  padding: 20px;
  position: relative;
  bottom: 0;
  width: 100%;
  font-size: 16px;
}

